{% extends "base.html" %}
{% block title %} Adminpage {% endblock %}
{% block style %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
{% endblock %}
{% block content%}
    <h1> all your seats are belong to us! </h1>
    <form action="/export2file" method="POST">
        all seats: {{ all_seats|length }}  free seats: {{ free_seats|length }}
        <button type="submit" name="export2file" onclick="export2file()">export</button>
    </form>
    prebooked seats:
    {% for seat in all_seats if seat.user_id == 0 %}
        <form action="/cancel_seat" method="POST">
            <button type="submit" name="cancel_seat" value={{seat.id}} onclick="cancel_seat()">{{seat.seat_name}}</button>
        </form>
    {% endfor %}

    {% for user in all_users %}
         <hr>
        <table>
            <tr>
                <th>ID</th>
                <td>{{user.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{user.firstname}} {{user.lastname}}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>booked seats</th>
                <td>
                    {% for seat in all_seats if seat.user_id == user.id %}
                        <form action="/cancel_seat" method="POST">
                            <button type="submit" name="cancel_seat" value={{seat.id}} onclick="cancel_seat()">{{seat.seat_name}}</button>
                        </form>
                    {% endfor %}
                </td>
            </tr>
        </table>

        <form action="/cancel_all_seats" method="POST">
            <button type='submit' name="cancel_all_seats" value={{user.id}} onclick="cancel_all_seats()">cancel all seats</button>
        </form>


    {% endfor %}

{% endblock %}