{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block style %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
{% endblock %}
{% block content%}
<h1>Welcome Home</h1>
<table>
    <tr>
        <th>Name</th>
        <td>{{user.firstname}} {{user.lastname}}</td>
    </tr>
    <tr>
        <th>email</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>booked seats</th>
        <td>{{booked_seats}}</td>
    </tr>
</table>
{% endblock %}