{% extends "base.html" %}
{% block title %} Reservation {% endblock %}

{% block style%}
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: repeat(6, auto);
        /*background-color: #2196F3;*/
      }
      .grid-item {
        background-color: #d3d3d3;
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        font-size: 20px;
        text-align: center;
        height: 50px;
      }

      .selected {
        background-color: #7FFFD4;
      }
    </style>

{% endblock %}
{% block content %}
<script type="text/javascript">
  function selectSeat(div, seatId) {
    div.classList.toggle('selected');
    var checkbox = document.getElementById(seatId);
    checkbox.checked = !checkbox.checked;
  }
</script>
<h2>Get your seats here!</h2>
<form method="POST">
  <div class="grid-container">
    {% for seat in all_seats %}
      {% if seat.user_id == None %}
          <div class="grid-item" onclick="javascript:selectSeat(this, 'seat-{{seat.id}}');">
            {{seat.seat_name}}
            <input id="seat-{{seat.id}}" type="checkbox" name="selected_seats" value="{{seat.id}}" style="display: none;" />
          </div>
      {% else %}
          <div style="background-color: #a9a9a9" class="grid-item"> {{seat.seat_name}} </div>
      {% endif %}
    {% endfor %}
  </div>

  <br style="clear: both;" />
  <input type="submit" value="Submit">
</form>

{% endblock %}
